body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: yellow;
}

header h1 {
  font-size: 50px;
}

footer {
  width: 100%;
  margin-top: 100px;
}

/* main {
  background-color: darkgrey;
} */

input {
  font-size: 30px;
  color: #220022;
  display: inline-block;
  padding: 10px;
  margin: 30px;
}

button {
  font-size: 30px;
  font-weight: normal;

  display: inline-block;
  background-color: #330033;
  border: 3px solid yellow;
  border-radius: 10px;
  color: yellow;
  
  padding: 10px;
  margin: 30px; 
}

button:hover {
  border: 3px dashed yellow;
  font-weight: bold;
}

.qContainer, .sContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.question {
  font-family: sans-serif;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.answerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.answerText {
  font-family: sans-serif;
}

.imgHolder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  border: 30px solid green;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 30px;
  
}

.imgHolder:hover {
  filter: saturate(30%);
  filter: grayscale(50%);
  filter: brightness(0.6);
}

.answerImg {
  width: 100%;
  min-height: 100%;
  
}

.sContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  padding: 10px;

}

.sParagraph {
  color: yellow;
  background-color: #110011;
  font-size: 25px;
  line-height: 1.5;
  padding: 30px;
  margin: 10px;
  text-align: left;
  max-width: 85vw;
}


.sButton {
  background-color: #330033;
  color: yellow;
  font-size: 25px;
  font-weight: normal;
  border: 5px solid yellow;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  width: 50%;
  
}

.sButton:hover {
  background-color: #330033;
  border: 5px dashed yellow;
  color: yellow;
  font-weight: bold;
}

.sImgCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sImgDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  min-width: 300px;
  
  border: 5px solid #220022;
  border-radius: 10px;
  margin: 10px;
}

.sImg {
  width: 100%;
  min-height: 300px;
  max-width: 60vw;
}

.sCircle {
  border: 3px dotted yellow;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  
}

@keyframes blurring {
  from {
    filter: blur(60%);
  } to {
    filter: blur(10%);
  }
}

.sHolo {
  filter: sepia(100%) hue-rotate(45deg);
  animation-name: blurring;
  animation-duration: 2s;
}

@media (min-width: 600px) {

  .sImgCont {

    flex-direction: row;

  }

  .answers {
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    
  }

}